#settings-drawer {
  height: calc(100vh - 48px);
  position: fixed;
  top: 48px;
  right: 0;
  overflow: hidden;
  padding: 0;
  border-left: 1px solid var(--colorRegularBorder);
  box-shadow:
    rgba(0, 0, 0, 0.133) 0px 1.6px 3.6px 0px,
    rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0;

  .fui-DrawerHeader {
    background: none;

    h2 {
      font-size: 20px;
      font-weight: 600;
    }
  }
}
