* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: var(--fontSizeBase300, 14px);
  font-weight: var(--fontWeightRegular, 400);
  color: var(--colorNeutralForeground1, #242424);

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 400;
    margin: 0;
    line-height: normal;
  }

  h1 {
    font-size: var(--fontSizeBase600, 24px);
    line-height: 36px;
    font-weight: var(--fontWeightSemibold, 600);
    margin-bottom: 20px;
  }

  #charts-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 50px;
  }
}

@import "@/components/charts/shared/charts.scss";
