:root {
  --colorMainNavigationBackground: #f0f0f0;
  --colorRegularBorder: #edebe9;
}

body {
  &.light {
    --colorMainNavigationBackground: #f0f0f0;
    --colorRegularBorder: #edebe9;
  }

  &.dark {
    --colorMainNavigationBackground: #0a0a0a;
    --colorRegularBorder: #5a5a5a;
  }
}
