.flex-container {
  display: flex;
}

#breadcrumbs {
  display: none;
}

#content {
  flex-flow: row nowrap;
  height: 100vh;

  #page-content {
    width: 100%;
    height: 100vh;
    padding: 35px 50px 0 50px;
    box-shadow: var(--shadow8, 0 0 2px var(--colorNeutralShadowAmbient, rgba(0, 0, 0, 0.12)), 0 2px 4px var(--colorNeutralShadowKey, rgba(0, 0, 0, 0.14)));

    .fui-Title1 {
      margin-bottom: 30px;
      display: block;
    }
  }
}
